// Vendor
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

// Imports
@import 'table';
@import 'typography';
@import 'variables';
@import 'components';

// Bulma layout includes
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/grid/columns";

html, body {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  background-color: $main-background-color;
  font-family: $font-family;
}

.layout-fill {
  margin: 0;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}

.layout-padding {
  padding: 20px;
}

.input-padding {
  width: 16px;
}

.layout-card {
  max-width: 1200px;
  margin: 24px auto;
  width: 100%;
  padding: 0px;

  &:last-child {
    margin-bottom: 100px;
  }
}

.card-header{
  padding: 0 0 0 24px;
}

.layout-container {
  width: calc(100% - 200px);
  margin: 24px auto;
  max-width: 1200px;
  margin-right: 24px !important;

  &:last-child {
    margin-bottom: 100px;
  }
}

.layout-title {
  width: 1200px;
  margin: 24px auto;
  max-width: 95%;
}

h1.page-title {
  margin: 0px auto 0 auto !important;
  padding: 0 !important;
  white-space: normal !important;
  max-width: 1200px;
  width: 100%;

}

// Main body text
.body-1 {
  line-height: 22px;
}

// Centering helper
.is-centered {
  text-align: center;
  align-content: center;
}

// Link styles
a {
  color: $accent-color;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: $theme-color;
  text-decoration: underline;
}

// The container which houses content
.content-container {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px auto !important;

  .layout-fill {
    padding: 0 5px; // make room for box shadow
  }

  .body-1 {
    padding: 0px 24px !important;
  }
  h1.page-title {
    padding: 24px 24px 0 24px !important;
  }

    > *:first-child {
    margin: 0;
    width: 100%;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

@media (max-width: 720px) {
  .content-container h1.page-title {
    font-size: 1.5em;
    padding: 0px 24px 0 0px !important;
  }
}

// Override the 40px padding right of the main drawer menu to allow footer to be full content width
@media (min-width: 1600px) {
  .content-container {
    padding-left: 324px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px;
  }
}

.form-help-icon {
  position: absolute;
  top: 20px;
  right: 0;

  &.inline {
    position: relative;
    display: inline-block;
    top: auto;
    vertical-align: middle;
  }
}

.errorLabel {
  color: rgb(244, 67, 54);
  font-size: 12px;
}

// Some styling over-rides on the app bar. - remove and put in the header component when its done
.AppBar {
  position: fixed !important;
  top: 0px;
  left: 0px;
  h1 {
    height: 75px !important;
    line-height: 75px !important;
  }

  .AppBarRightButton {
    color: #FFF !important;
    span {
      color: #FFF !important;
    }
    button {
      color: #FFF !important;
    }
    svg {
      fill: #FFF !important;
    }
  }
  .AppBarRightButton:hover {
    color: $accent-color !important;
    span {
      color: $accent-color !important;
    }
    button {
      color: $accent-color !important;
    }
    svg {
      fill: $accent-color !important;
    }
  }
}

@media (max-width: 768px) {
  .AppBar {
    position: fixed;
    top: 0px;
    left: 0px;
  }
}

.form-help-icon {
  margin-top: -16px !important;
}

//Stepper - remove and add to the stepper component when ready
.Stepper {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  // Stepper: Targets the div wrapping just the stepper
  > div:first-child {
    overflow: hidden;
  }

  // Targets the step span which contains the icon and text
  > div > div > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

}

// Stepper - responsive css to hide the text on mobile, and just leave the steps
@media (max-width: 768px) {
  .Stepper div span span {
    padding: 0 4px 0 0 !important;
    z-index: 10;
    zoom: 1.5;
  }
  .Stepper div div span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -999px;
    padding: 0px 0px 0px 0px !important;
  }
}