@import '../../../sass/variables';

.StandardRighthandCard {
  .is-helpicon {
    margin: -18px -12px -10px 0 !important;
  }
  .facetsTitle {
    padding-bottom: 6px !important;
    margin-bottom:12px !important;
    border-bottom: 1px solid rgba($text-color, 0.2) !important;
    & h2.title {
      color: $theme-color !important;
    }
  }
}
