@import '../../../sass/variables';

.StandardRighthandCard {
  margin-bottom: 12px;
  .is-helpicon {
    margin: -18px -12px -10px 0 !important;
  }
  .StandardRighthandCardTitle {
    padding-bottom: 6px !important;
    margin-bottom:12px !important;
    border-bottom: 1px solid rgba($text-color, 0.2) !important;
    & .cardTitle {
      color: $theme-color !important;
      font-size: $title-small !important;
    }
  }
}
