@import '../../../sass/variables';

.help-drawer {
  .app-bar {
    height: 75px;
    background-color: $theme-color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }

  span.title {
    margin: 0px !important;
  }
  .helpDrawerDivider {
    margin: 10px 0px 20px 0px !important;
  }
  .content {
    padding: 12px !important;
    overflow-y: auto;
  }
}
