.form-help-icon {
  text-align: right;

  button {
    position: absolute;
    top: 20px;
    right: 0;
    margin-top: -16px !important;
  }

  &.inline {
    position: relative;
    display: inline-block;
    top: auto;
    vertical-align: middle;
  }
}
