@import '../../../sass/variables';

/* thumb styles */
.toggle input + div > div:last-child > div:last-child {
    background-color: white !important;
}

/* thumb style - toggled */
.toggle input[value="true"] + div > div:last-child > div:last-child {
    background-color: $accent-color !important;
}

/* track styles */
.toggle input + div > div:last-child > div:first-child {
    background-color: $secondary-color !important;
}

/* track style - toggled */
.toggle input[value="true"] + div > div:last-child > div:first-child {
    background-color: $accent-color-light !important;
}