@import '../../../sass/variables';

.auth-button-wrapper {
  padding: 0px 10px 0 0 !important;
  margin-top: -10px;
}
@media (min-width: 1600px) {
  .auth-button-wrapper {
    padding: 16px 10px 0 0 !important;
    margin-top: -10px;
  }
}

.log-in-button, .log-out-button {
  color: $text-color-reverse;
  text-align: center;
  svg{
    fill: $text-color-reverse !important;
    color: $text-color-reverse !important;
  }
}