@import '../../../sass/variables';

$graph-font-size: 12px !important;

// Donut chart styles
.donutChart {
  background-color: $graph-background-color-pink !important;
  .highcharts-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: normal;
    z-index: 0; /* #1072 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: $font-family !important;
    font-size: $graph-font-size;

    .highcharts-background, .highcharts-plot-background {
      fill: transparent !important;
    }

    $donutchart-colors: $graph-color-1, $graph-color-2, $graph-color-3, $graph-color-4, $graph-color-5, $graph-background-color-blue;

    @for $i from 1 through length($donutchart-colors) {
      $thisColor: nth($donutchart-colors, $i);

      .highcharts-legend-item.highcharts-color-#{$i - 1} .highcharts-point,
      .highcharts-tooltip .highcharts-color-#{$i - 1},
      .highcharts-color-#{$i - 1} {
        fill: $thisColor;
      }
      .highcharts-data-label-connector.highcharts-color-#{$i - 1}{
        stroke: $thisColor !important;
        fill: transparent !important;
      }
    }

    .highcharts-legend-item {
      & text {
        fill: $text-color-reverse !important;
        font-family: $font-family !important;
        font-size: $graph-font-size !important;
      }
      &.highcharts-legend-item-hidden {
        opacity: 0.5 !important;
      }
    }

    .highcharts-data-labels {
      & span {
        color: $text-color-reverse !important;
        fill: $text-color-reverse !important;
        font-family: $font-family !important;
        font-size: $graph-font-size;
      }
    }
  }
}
