@import '../../../sass/variables';

// A solution for a floating title look-alike for a combination of inputs (ie. partial dates)
.dateTitle{
  margin: 28px 0 -10px 0;
  @include mobile {
    margin: 28px 0 -6px 0;
  }
  font-size: $text-body-small;
  color: #888888; // $secondary-color;
  &.required::after {
    content: "*";
    padding-right: 5px;
    padding-left: 5px;
    color: $error-color;
  }
}