@import '../../../sass/variables';

.app-loader {
  background-color: $theme-color;
  width: 100%;
  height: 100%;

  h1 {
    color: $text-color-reverse;
  }
  padding-top: calc(25% - 100px);
  text-align: center !important;

  .app-loader-content {
    height: 300px;
  }
}
