@import '../../../sass/variables';
@import '../../../sass/typography';

.app-loader {
  background-color: $theme-color;
  h1 {
    color: $text-color-reverse;
  }
  padding-top: calc(25% - 150px);
  text-align: center !important;

  .app-loader-content {
    height: 300px;
  }
}
